@(loginForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }
@import com.feth.play.module.pa.views.html._

@main(Messages("playauthenticate.login.title"),"login") {

  <div class="container-fluid" id="login" xmlns="http://www.w3.org/1999/html">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">Login</div>
          <div class="panel-body">
            <div class="col-md-6">
              @* Display proprietary login form *@
              @helper.form(routes.Application.doLogin, 'class -> "form-horizontal col-md-offset-3 col-md-9", 'role -> "form") {

              @if(loginForm.hasGlobalErrors) {
                <p class="alert alert-danger">
                  @loginForm.globalError.message
                </p>
              }

              @_emailPartial(loginForm)

              @inputPassword(
                loginForm("password"),
                '_showConstraints -> false,
                '_label -> Messages("playauthenticate.login.password.placeholder")
              )
            </div>
            <div class="col-md-6">
              @Messages("playauthenticate.login.oauth")
              @* Display list of available providers *@
              @_providerPartial(skipCurrent=false)
              @providerAvailable("basic") { available: Boolean =>
                  @if(available) {
                      <br>
                      <a href="@com.feth.play.module.pa.controllers.routes.Authenticate.authenticate("basic")">@Messages("playauthenticate.login.basic")</a>
                  }
              }
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-default">@Messages("playauthenticate.login.now")</button>

              <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("playauthenticate.login.forgot.password")</a>
              }
            </div>
          </div>
            <div class="panel-footer text-center" style="color: #FF6666">New to Protégé? <a href="@routes.Application.signup()">Register!</a></div>
        </div>
      </div>
    </div>
  </div>
}

