@(title: String, nav: String = "")(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html lang="@lang().code()">
    <head>
        <title>Protégé</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Play Authenticate - an authentication module for the Play! Framework 2.0">
        <meta name="author" content="The Play Authenticate Team">

        <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Application.jsRoutes" defer="defer"></script>

        <!-- <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")"> -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet" />
        <link href="//fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'" />
        <link rel="stylesheet" href="@routes.Assets.versioned("css/style.css")">
        <!-- <link href="@routes.Assets.versioned("css/app.css")" rel="stylesheet"> -->
    </head>

    <body>

        <nav class="navbar navbar-default" style="margin-bottom: 20px; background-color: #3399CC; border-radius: 0; border: 0;" role="navigation">
            <div class="container-fluid">
                <div class="navbar-left">
                    <a class="navbar-brand" href="@routes.Application.index()" style="padding: 7px; color: white;">
                        <img class="col-sm-4" src="@routes.Assets.versioned("icons/logo2.jpg")" style="border-radius:50%; padding: 0px; max-height: 40px; max-width: 40px"/>
                        <p class="col-sm-8" style="margin-top: 7px">Protégé</p>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Home -->
                    <ul class="nav navbar-nav">
                        <li><a href="@routes.Application.index()" style="color:white">@Messages("playauthenticate.navigation.home")</a></li>
                    </ul>
                    <!-- User -->
                    @subjectPresentOr() {
                    <ul class="nav navbar-nav navbar-right">
                    @defining(Application.getLocalUser(session())) { user =>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white"><i class="glyphicon glyphicon-user"></i> @user.name <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@routes.Application.profile()" style="color:black">@Messages("playauthenticate.navigation.profile")</a></li>
                                <li><a href="@routes.Account.link()" style="color:black">@Messages("playauthenticate.navigation.link_more")</a></li>
                                <li class="divider"></li>
                                <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()" style="color:black"><i class="icon-off"></i> @Messages("playauthenticate.navigation.logout")</a></li>
                            </ul>
                        </li>
                    }
                    </ul>
                    } {
                        <a href="@routes.Application.login()" class=" navbar-right btn btn-default navbar-btn @("disabled".when(nav == "login"))">@Messages("playauthenticate.navigation.login")</a>
                        <a href="@routes.Application.signup()" style="margin-right: 10px" class=" navbar-right btn btn-default navbar-btn @("disabled".when(nav == "singup"))">@Messages("playauthenticate.navigation.signup")</a>
                    }
                </div>
            </div>
        </nav>



        <div class="container">
            @if(flash.contains(Application.FLASH_ERROR_KEY)) {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                        Close</span></button>
                    @flash().get(Application.FLASH_ERROR_KEY)
                </div>
            }
            @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                        Close</span></button>
                    @flash().get(Application.FLASH_MESSAGE_KEY)
                </div>
            }
            @content

            <hr>
        </div> <!-- /container -->
        
        <footer id="footer">
            <p class="copyright">&copy; Protégé 2015</p>
        </footer>
    </body>
</html>
